@import url("https://fonts.googleapis.com/css2?family=Grandstander&family=Open+Sans:wght@400;700&display=swap");

body,html, #root, .App, .content-wrapper{
  min-height:100%;
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  background-color: #d8d8d8;
  font-family: "Open Sans", sans-serif;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:white;
  font-size:1.2em;
}
.footer{
  text-align: center;
  background-color: black;
  color:white;
}
.NavLink{
  flex-grow: 1;
  height:100%;
  text-decoration: none;
  color:white;
  width:120px;
  text-align: center;
  font-weight:700;
}
.logo{
  text-decoration: none;
  color:white;
  padding:0.5em 1.5em;
  flex-grow: 1;
  text-align: center;
  font-weight:700;
  text-shadow: 2px 2px 0px goldenrod;
  font-size:1.2em;
}
.NavLink:hover, .logo:hover{
  color:white;
}
.search-bar{
  display:inline-block;
  border-radius: 0.3em 0 0 0.3em;
  outline:none;
  border:none;
  width: 70%;
  padding:0.5em;
  font-size:1em;
}
.search-button{
  display:inline-block;
  border-radius: 0 0.3em 0.3em 0;
  outline:none;
  border:none;
  background-color:#666;
  color:white;
  margin:0;
  padding:0.5em;
  font-size:1em;
  margin-right:1em;
}
.content-wrapper{
  width:100%;
  max-width:932px;
  display:flex;
  justify-content: center;
  margin:0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-icon{
  padding: 0.2em 1em;
  cursor: pointer;
}
.footer-copyright,.footer-social{
  font-weight:700;
  margin:1em;
}



.home-wrapper{
  flex-grow:1;
  background-color: white;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.home-header{
  width: fit-content;
  padding: 0.5em;
  text-align: center;
  font-weight:700;
  background-color:goldenrod;
  color: #222;
  font-size:3em;
  margin: 0.5em 0;
}
.home-text{
  text-indent: 3em;
  font-size: 1.2em;
  width: 600px;
  margin: 0.5em 0;
}
.get-started-button{
  color: black;
  text-decoration: none;
  background-color:goldenrod;
  border:2px solid rgb(150, 107, 8);
  border-radius:0.5em;
  font-weight:700;
  padding: 0.25em;
  font-size:2em;
  margin: 1em 0;
}
.get-started-button:hover{
  color: black;
}




.loading-spinner-wrapper{
  margin:3em;
}
.product-link{
  color:inherit;
  text-decoration: none;
}
.product-link:hover{
  color:inherit;
}
.product-card-wrapper{
  background-color: white;
  width:130px;
  height:300px;
  padding:16px;
  margin:10px;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.product-card-image{
  max-width:100%;
  max-height:200px;
}
.product-card-title{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0.5em 0;
}
.products-card-price{
  background-color:#444;
  color:white;
  border-radius: 0.5em;
  padding:0.5em;
  text-align: center;
}
.products-card-filler{
  flex-grow:1;
}



.about-wrapper{
  flex-grow:1;
  background:white;
  padding:2em;
}
.about-header{
  text-align: center;;
}
.about-text{
  text-indent: 3em;
}




.product-page-wrapper{
  display:flex;
}
.product-page-image-wrapper{
  width:250px;
  height:250px;
  padding:32px;
  background-color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:32px;
  flex-shrink: 0;
}
.product-page-image{
  max-height:100%;
  max-width:100%;
}
.product-page-right{
  margin:32px 32px 32px 0;
}
.product-page-title{
  display:inline-block;
  font-size: 1.5em;
  font-weight:700;
  color:#333;
}
.product-page-details{
  display:flex;
  flex-direction: row;
  margin: 0.5em 0;
}
.product-page-filler{
  flex-grow:1;
}
.product-page-category{
  color: black;
  background-color: goldenrod;
  border-radius:0.5em;
  border:2px solid rgb(150, 107, 8);
  padding:4px;
  text-transform: capitalize;
  font-weight:700;

}
.product-page-description{
  display:inline-block;
  color:#333;
}
.product-page-form{
  display:flex;
  font-size: 1.5em;
}
.product-page-price{
  color:#333;
  font-weight:700;
}
.product-page-count{
  width:100%;
  max-width:80px;
  outline:1px solid #222;
  border:none;
  padding:0.5em;
  border-radius:0.25em;
  margin:0 1em;
}
.rating-star{
  color:goldenrod;
}
.product-page-submit{
  color:black;
  background-color:goldenrod;
  border:2px solid rgb(150, 107, 8);
  border-radius:0.5em;
  outline:none;
  font-weight:700;
  cursor: pointer;
}
.product-page-submit:hover{
  color:black;
}

.cart-wrapper{
  flex-grow:1;
  background:white;
  padding:2em;
}
.cart-header{
  margin: 0;
  text-align: center;
  font-size:2em;
  color:#333;
  font-weight:700;
}
.cart-empty-text{
  text-align:center;
  margin: 2em 0;
}
.cart-item{
  display:flex;
  flex-direction: row;
  margin: 2em 0;
  align-items: center;
}
.cart-image-wrapper{
  width:150px;
  height:150px;
  flex-shrink: 0;
  display:flex;
  align-items: center;
  justify-content: center;
}
.cart-item-image{
  max-width:100%;
  max-height:100%;
}
.cart-item-title{
  width:300px;
}
.cart-item-filler{
  flex-grow:1;
}
.cart-item-price{
  font-size:1.5em;
  color:#333;
  font-weight:700;
}
.cart-item-count{
  font-size:1.25em;
  width:100%;
  max-width:80px;
  outline:1px solid #222;
  border:none;
  padding:0.5em;
  border-radius:0.25em;
  margin:0 1em;
}
.cart-item-remove{
  font-size:2em;
  color:#333;
}
.cart-bottom{
  display:flex;
  align-items: center;
}
.cart-bottom-filler{
  flex-grow:1;
}
.cart-subtotal{
  font-size:1.5em;
  color:#333;
  font-weight:700;
  margin-right:0.5em;
}
.cart-checkout-button{
  color:black;
  text-decoration: none;
  font-size:1.25em;
  padding:0.5em;
  background-color:goldenrod;
  border:2px solid rgb(150, 107, 8);
  border-radius:0.5em;
  outline:none;
  font-weight:700;
}
.cart-checkout-button:hover{
  color:black;
}




.checkout-wrapper{
  flex-grow:1;
  background:white;
  padding:2em;
}
.checkout-header{
  margin: 0;
  text-align: center;
  font-size:2em;
  color:#333;
  font-weight:700;
}
.checkout-empty-text{
  text-align:center;
  margin: 2em 0;
}
.checkout-item{
  display:flex;
  flex-direction: row;
  margin: 2em 0;
  align-items: center;
  min-width: 0;
}
.checkout-item-title{
  font-size:1.2em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  min-width: 0;
}
.checkout-item-filler{
  flex-grow: 1;
}
.checkout-item-count{
  min-width:80px;
  text-align:center;
  font-size:1.5em;
  padding:0.25em;
  margin: 0 0.5em;
  border-radius: 0.2em;
  border: 1px solid black;
}
.checkout-item-price{
  font-size:1.5em;
  color:#333;
  font-weight:700;
  text-align:right;
  min-width:80px;
}
.checkout-bottom{
  display:flex;
  align-items: center;
}
.checkout-bottom-filler{
  flex-grow:1;
}
.checkout-subtotal{
  font-size:1.5em;
  color:#333;
  font-weight:700;
  margin-right:0.5em;
}
.checkout-form{
  width:520px;
  margin: 0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}
.checkout-form-text-wrapper{
  display:flex;
  justify-content: center;
  margin: 1em 0;
}
.checkout-form-label-text{
  width:150px;
  text-align:right;
  margin-right:0.25em;
}
.checkout-form-text-input{
  font-size:1.2em;
  padding:0.25em;
  border:2px solid black;
  border-radius: 0.25em;
}
.checkout-form-number-wrapper{
  display:flex;
  align-items: center;
}
.checkout-form-label-number{
  white-space: nowrap;
  margin: 0 0.25em;
}
.checkout-form-number-input{
  font-size:1.2em;
  padding:0.25em;
  max-width:34px;
  border:2px solid black;
  border-radius: 0.25em;
}
.expiration-month-label{
  width:150px;
  text-align: right;
}
.checkout-form-button-wrapper{
  width:100%;
  display:flex;
}
.checkout-form-button-filler{
  flex-grow: 1;
}
.checkout-form-button{
  color:black;
  font-size:1.25em;
  padding:0.5em;
  background-color:goldenrod;
  border:2px solid rgb(150, 107, 8);
  border-radius:0.5em;
  outline:none;
  font-weight:700;
  margin: 1em 3em;
}
.checkout-form-button:hover{
  color:black;
}



.success-wrapper{
  flex-grow:1;
  background:white;
  padding:2em;
}
.success-header{
  text-align: center;
}
.success-text{
  text-align: center;
}